 @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;0,800;1,500&family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;

    --fonte-primaria:'Poppins', sans-serif;
    --fonte-secundaria: 'Barlow', sans-serif;
    

}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

#logo img{
    width: 5rem;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    align-items: center;
}

.cabecalho_menu ul {

    list-style: none;
    display: flex;
}

.cabecalho_menu a{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho_menu li{
    margin: 0 1rem;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 15%;
}

.apresentacao_conteudo{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 3rem;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
}

.apresentacao_conteudo_titulo{
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.destaque{
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao_links_titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.apresentacao_links_link{

    justify-content: center;

    display: flex;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 20px 35px;
    width: 50%;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    
}

.apresentacao_imagem {

    width: 50%;

}
    .apresentacao_imagem img{
        
        width: 100%;
    }

    
.fa-brands{

    color: var(--cor-terciaria);
    padding-top: 4px;
}

@media(max-width: 760px){

    .apresentacao {
        flex-direction: column-reverse;
    }
}
.cabecalho_menu a:hover{
    color: var(--cor-secundaria);
}

